@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    background-color: #FFEFD5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



@media (max-width: 768px) {
    .element {
        font-size: 14px; 
    }
}

img {
    max-width: 100%;
    height: auto;
}



h1 {
    font-size: 60px; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px; /* スマホ表示時のフォントサイズ */
        text-align: left; /* スマホ表示時は左揃え */
        margin-left: 20px; /* 左マージンを追加 */
		font-weight: bold;
    }
}

h2 {
	font-size: 40px; 
	text-align: center;
}


p {
	line-height: 1.6;
	margin-bottom: 15px; 
}

.header{
	font-size: 40px;
	margin-left: 80px;
            margin-top: 20px;
}


	
	body {
		font-family: Arial, sans-serif;
	}
	
	.toggleBox {
		cursor: pointer;
		margin: 5px auto;
		margin-left: 240px;
		line-height: 1.5;
		padding: 15px 15px 15px 30px;
		width: 1000px;
		background-color: #FFC7AF;
		color: black;
		border-radius: 5px;
		font-size: 20px;
		text-align: left;
		transition: background-color 0.3s ease;
	}


	@media (max-width: 768px) {
		.toggleBox {
			width: 90%; /* スマホ表示の幅 */
			margin-left: auto;
			margin-right: auto; /* 左右のマージンを自動にして中央に配置 */
			padding-left: 15px; /* 左側のパディングを調整 */
			padding-right: 15px; /* 右側のパディングを調整 */
		}
	}

	

	.toggleBox:hover {
		background-color: #FF9F7E; 
	}
	
	.hiddenText {
		max-height: 0; 
		overflow: hidden; 
		transition: max-height 0.8s ease, opacity 0.8s ease; 
		opacity: 0; 
		display: none; 
		margin-left: 240px;
		line-height: 50px;
	}

	@media (max-width: 768px) {
		.hiddenText {
			margin-left: auto; /* 左のマージンを自動に */
			margin-right: auto; /* 右のマージンを自動に */
			text-align: left; /* テキストを中央に */
			width: 90%; /* 幅を90%に */
			white-space: normal;
		}
	}

	h3 {
		text-align: center; 
		font-size: 30px;
		font-weight: bold;
		margin-top: 50px; 
		margin-bottom: 10px;
		margin-right:800px;
	}

	@media (max-width: 768px) {
		h3 {
			margin-right: 0; /* スマホ表示時に右マージンをゼロに */
			margin-left: 0; /* スマホ表示時に左マージンをゼロに */
			width: 100%; /* 幅を100%にする */
		}
	}

	
	h4 {
		text-align: center; 
		font-size: 30px;
		font-weight: bold;
		margin-top: 200px; 
		margin-bottom: 10px;
		margin-right:800px;
	}

	@media (max-width: 768px) {
		h4 {
			margin-right: 0; /* スマホ表示時に右マージンをゼロに */
			margin-left: 0; /* スマホ表示時に左マージンをゼロに */
			width: 100%; /* 幅を100%にする */
		}
	}


	h5 {
		text-align: center; 
		font-size: 30px;
		font-weight: bold;
		margin-top: 200px; 
		margin-bottom: 10px;
		margin-right:800px;
	}
	
	@media (max-width: 768px){
		h5 {
			margin-right: 0;
			margin-left: 0;
			width: 100%;
		}
	}
	.custom-heading {
		display: block;
		margin-top: 20px;
		font-size: 40px;
		text-align: center;
	}

	@media (max-width: 768px) {
		.custom-heading,
		.image-container4 {
			display: none; /* スマホ表示時に非表示にする */
		}
	}

	.footer {
		background-color: darkgray; 
		padding: 20px; 
	}
	
	.footer {
		background-color: darkgray; 
		padding: 20px; 
	}
	
	.footer-links {
		list-style-type: none; 
		padding: 0; 
		text-align: center; /* 中央揃え */
		margin: 0;
		display: flex; /* フレックスボックスを使用 */
		justify-content: center; /* 中央揃え */
		white-space: nowrap; /* 改行を防ぐ */
		overflow-x: auto; /* 水平方向にオーバーフローをスクロール可能に */
	}
	
	.footer-links li {
		display: inline; 
		margin: 0 15px; 
	}
	
	.footer-links a {
		text-decoration: none; 
		font-size: 15px;
		color: black; 
	}
	
	.footer-links a:hover {
		text-decoration: underline; 
		color: white; 
	}
	
	/* スマホ表示向けのスタイル */
	@media (max-width: 768px) {
		.footer {
			padding: 10px;
			}
		.footer-links {
			justify-content: center; /* 中央に揃える */
		}
		.footer-links a {
			font-size: 12px; /* スマホ用の小さいフォントサイズ */
		}

		.footer-links li {
			display: inline; 
			margin: 0 8px; 
		}
	}
	.fade-in {
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 1.5s ease;
		margin-bottom: 20px;
	}
	
	.fade-in.show {
		opacity: 1;
		transform: translateY(0);
	}

	.image-container {
		margin-bottom: 40px;
	}